* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
 
  
}

header {
  background: #90e641;
  background: linear-gradient(
    90deg,
    rgb(145, 230, 65) 3%,
    rrgb(104, 231, 99) 52%,
    rgb(128, 241, 97)
  );
  color: white;
  height: 50px;
  padding: 40px;
  padding-right: 200px;
}
h1,
h5 {
  text-align: right;
}
nav {
  margin: 10px;
  background-color: lightblue;
  height: 75px;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}
li {
  list-style-type: none;
}
nav a {
  text-decoration: none;
}
aside {
  display: flex;
  position: fixed;
  top: 150px;
}
section {
  display:flex;
  flex-direction: column;
  margin-top: 0;
  position:static ;
  margin-top: -730px;
  
  
 
}
section a {
  text-decoration: none;
  margin: 25px;
}
h2 {
  display: inline-block;
  background-color: #90e641;
  width: 200px;
  height: 40px;
  align-items: center;
  padding: 10px 0px 0px 10px;
  margin: 10px;
}
.block {
  display: flex;
  flex-direction: column;
  width: 250px;
  text-align: left;
}
p {
  padding: 25px;
}
.vertical-line {
  width: 1px ; /* Line thickness */
  height: 450px; /* Line height */
  background-color: black; /* Line color */
  margin-left: 100px;
}
.mains{
  display: flex;
  flex-wrap: wrap;
  margin-left: 250px;
  
}
.mains p{
  margin-left: 20px;
  
}
.rmh{
  margin-top: 10px;
   margin-left: 45px;


}
.container{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly;
}
.subscribtion {
  width:auto ;
  margin-left: 220px;
}
.subscribtion h1{
  width: 250px;
  margin: 15px;
  margin-left: 5px;
  position: static;
}
.subscribtion p{
  margin-left: 50px;
}
.OtherService{
  width: auto;
  margin-left:15px;
}
.OtherService h1{
  margin: 15px;
  margin-right: 210px;
}
.btns1{
  padding: 15px;
  margin-left: 80px;
  background-color: #90e641;
  border:none;
  border-radius: 10px;
}
.btns1:hover{
  background-color: red;
}
.btns2{
  
  padding: 15px;
  margin-left: 35px;
  margin-top: 3px;
  background-color: #90e641;
  border:none;
  border-radius: 10px;
}
.btns2:hover{
  background-color: red;
}



footer {
  width: 100%;
  height: 35px;
  margin-top: 150px;
  background: #90e641;
  background: linear-gradient(
    90deg,
    rgb(145, 230, 65) 3%,
    rrgb(104, 231, 99) 52%,
    rgb(128, 241, 97)
  );
  text-align: center;
  padding: 55px;
}
@media screen and (max-width:900px) {
  .mains{
    font-size: small;
  }
  nav{
    
    width: auto;
    font-size: small;
    
  }
  section{
   
    margin-left: 28px;
    margin-top: -730px;
  }
  section a{
    margin-left: 50px;
  }
  
  .rmh{
    margin-left: 20px;
  }
  .mains p{
    width: 500px;
   display: flex;
   flex-wrap: wrap;
   margin-left: 5px;
  }
  .subscribtion{
    margin-left: 235px;
  }
  .subscribtion h1{
    margin-left: -25px;
  }
  .subscribtion p{
    margin-left: 45px;
    width: 250px;
    font-size: xx-small;
  }
  .vertical-line{
    margin-right: -50px;
    
    height:400px;
  }
  .OtherService h1{
      
      margin-left: -45px;
  }
  .OtherService p{
    margin-left: -45px;
    width: 250px;
    font-size: xx-small;
  }
  .btns1{
    margin-left: 65px;
  }
  .btns2{
    margin-left: -15px;
  }

  footer{
    margin-top: 15px;
    position: relative;
    justify-content: center;
  }
}

@media screen and (max-width: 480px){
header h1{
  text-align: right;
}
nav{
  font-size: x-small;
  margin-left: -5px;
 height: 55px;
 
}

section{
  margin-top: -800px;
  font-size: xx-small;
  margin-left: -10px;
}
.mains {
  font-size: small;
  
}
.pom{
  font-size: xx-small;
}
.container{
  margin-left: -250px;
  font-size: medium;
}
.subscribtion{
  font-size: smaller;
 margin-right: -50px;
}
.subscribtion h1{
  font-size:medium ;
  margin-left: -125px;
}
.subscribtion p{
  margin-left: 10px;
}
.OtherService{
  margin-left: 70px;
}
.OtherService p{
  margin-left: -80px;
}
.OtherService h1 {
  font-size:large ;
  width: max-content;
}
.btns1{
  margin-left: 32px;
  margin-top: 10px;
}
.btns2{
  margin-left: -52px;
  margin-top: 10px;
}
footer {
  margin-top: 300px;
  
  
}
.fh{
  text-align: center;
}

}